[submodule "boofi-lite/contracts/foundry/lib/forge-std"]
	path = boofi-lite/contracts/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "boofi-lite/contracts/new-contracts/lib/forge-std"]
	path = boofi-lite/contracts/new-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "boofi-lite/contracts/new-contracts/lib/openzeppelin-contracts"]
	path = boofi-lite/contracts/new-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "boofi-lite/contracts/new-contracts/lib/wormhole-solidity-sdk"]
	path = boofi-lite/contracts/new-contracts/lib/wormhole-solidity-sdk
	url = https://github.com/wormhole-foundation/wormhole-solidity-sdk
