@font-face {
  font-family: "Clash Display";
  font-weight: bold;
  src: url("/fonts/clash/ClashDisplay-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Clash Display";
  font-weight: bold;
  src: url("/fonts/clash/ClashDisplay-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'BaseNeue';
  src: url('/fonts/base-neue/BaseNeueTrial-WideBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Power Neue */
@font-face {
  font-family: 'PowerNeue';
  src: url('/fonts/power-neue/NeuePowerTrial-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PowerNeue';
  src: url('/fonts/power-neue/NeuePowerTrial-BoldOblique.woff2') format('woff2');
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: 'PowerNeue';
  src: url('/fonts/power-neue/NeuePowerTrial-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PowerNeue';
  src: url('/fonts/power-neue/NeuePowerTrial-Oblique.woff2') format('woff2');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'PowerNeue';
  src: url('/fonts/power-neue/NeuePowerTrial-Ultra.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PowerNeue';
  src: url('/fonts/power-neue/NeuePowerTrial-UltraOblique.woff2') format('woff2');
  font-weight: 800;
  font-style: oblique;
}
